<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: "Blog Edit"}) %>
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/navbar') %>

    <div class="row container mx-auto mt-5 border border-muted p-5 rounded">
        <div class="col-12">
            <form method="post">
              <input type="hidden" name="blogid" value="<%= blog.blogid %>">
              <input type="hidden" name="imageServer" value="<%= blog.image %>">
                <h1 class="text-center mb-5 h2">Blog Update Form</h1>

                <div class="row mb-3">
                  <label for="title" class="col-sm-2 col-form-label">Title</label>
                  <div class="col-sm-10 col-md-4">
                    <input type="text" class="form-control" id="title" name="title" value="<%= blog.title %>" placeholder="Please enter category info">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="summary" class="col-sm-2 col-form-label">Summary</label>
                  <div class="col-sm-10 col-md-4">
                    <input type="text" class="form-control" id="summary" name="summary" value="<%= blog.summary %>" placeholder="Please enter category info">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="description" class="col-sm-2 col-form-label">Description</label>
                  <div class="col-sm-10 col-md-4">
                    <input type="text" class="form-control" id="description" name="description" value="<%= blog.description %>" placeholder="Please enter category info">
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="image" class="col-sm-2 col-form-label">Image</label>
                  <img src="/img/<%= blog.image %>" class="img-fluid img-thumbnail" style="width: 150px;">
                  <div class="col-sm-10 col-md-4">
                    <input type="file" class="form-control" id="image" name="image">
                  </div>
                </div>

                <div class="row mb-3">
                    <label for="category" class="col-sm-2 col-form-label">Category</label>
                    <div class="col-sm-10 col-md-4">
                        <select class="form-select" name="category" id="category">
                            <% categories.forEach(category => { %>
                                <% if (category.categoryid == blog.categoryid) { %>
                                    <option selected value="<%= category.categoryid %>"><%= category.category_name %></option>
                                    <% } else { %>
                                        <option value="<%= category.categoryid %>"><%= category.category_name %></option>
                                <% } %>
                             
                            <% }) %>
                        </select>
                    </div>
                </div>


               <div class="row mb-3 align-items-center">
                   <label for="isActiveOnPage" class="form-check-label col-sm-2 col-form-label">Is Active on Home Page</label>
                   <div class="col-sm-10 col-md-4">
                        <input class="form-check-input" type="checkbox" name="isActiveOnPage" id="isActiveOnPage" <%= blog.isShownOnPage === 1 ? "checked": "" %>>
                    </div>
                </div>

               <div class="row mb-3 align-items-center">
                    <label for="isActive" class="form-check-label col-sm-2 col-form-label">Is Active </label>
                    <div class="col-sm-10 col-md-4">
                        <input class="form-check-input" type="checkbox" name="isActive" id="isActive" <%= blog.isActive === 1 ? "checked": "" %>>
                    </div>
                </div>


                <button type="submit" class="btn btn-primary">Update</button>
            </form>

        </div>
    </div>
</body>
</html>