<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: "Category List"}) %>
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/navbar') %>

    <div class="container">
        <% if (action && action === "create") { %>
            <%- include('../partials/alert.ejs', {alertClass: "success", alertText: "Category Created!"}) %>
        <% } %>
        
        <% if (action && action === "update") { %>
            <%- include('../partials/alert.ejs', {alertClass: "warning", alertText: "Category Updated!"}) %>
        <% } %>

        <% if (action && action === "delete") { %>
            <%- include('../partials/alert.ejs', {alertClass: "danger", alertText: "Category Deleted!"}) %>
        <% } %>
    </div>
        
    <table class="table table-hover container mx-auto mt-3">
        <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Category</th>
              <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                  <th scope="row">#<%= category.id %></th>
                  <td><%= category.category_name %></td>
                  <td>
                    <a href="/admin/categories/delete/<%= category.id %>" class="btn btn-sm btn-danger">Delete Blog</a>
                    <a href="/admin/categories/<%= category.id %>" class="btn btn-sm btn-outline-danger">Update Blog</a>
                </td>
                </tr>
             
            <% }) %>
        </tbody>
    </table>
</body>

</html>