<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: "Blog Edit"}) %>
</head>
<body>
    <!-- Navbar -->
    <%- include('../partials/navbar') %>

    <div class="row container mx-auto mt-5 border border-muted p-5 rounded">
        <div class="col-12">
            <form method="post"> 
              <input type="hidden" name="roleid" value="<%= role.id %>">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <h1 class="text-center mb-5 h2">Role Edit Form</h1>

                <div class="row mb-3">
                  <label for="rolename" class="col-sm-2 col-form-label">Role Name</label>
                  <div class="col-sm-10 col-md-4">
                    <input type="text" class="form-control" id="rolename" name="rolename" value="<%= role.role_name %>" placeholder="Please enter category info">
                  </div>
                </div>

                <button type="submit" class="btn btn-primary">Update</button>
            </form>

        </div>
    </div>
</body>
</html>