<div class="list-group">
    <% categories.forEach(categoryEl => { %>
        <a href="/blogs/category/<%= categoryEl.id %>" class="list-group-item list-group-item-action text-danger fw-bold">
            <%= categoryEl.category_name %>
            <% blogs.forEach(blog => { %>
                <% if (categoryEl.id == blog.categoryId) { %>
                    
                    <% if (parseInt(blogid) === blog.id) { %>
                        <a href="/blogs/<%= blog.id %>" class="fw-bold list-group-item list-group-item-action text-muted ps-5">
                            <%= blog.title %>
                        </a>
                    <% }else{ %>
                        <a href="/blogs/<%= blog.id %>" class="list-group-item list-group-item-action text-muted ps-5">
                            <%= blog.title %>
                        </a>
                    <% } %>

                <% } %>
                
            <% }) %>
            
        </a>
    <% }) %>

</div>